<ion-header>
  <ion-toolbar class="background-header">
    <ion-title>
      Message Summary
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">

  <ion-card class="background-card">
      <ion-card-header>
        <ion-card-title>Create Message</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-input type="text" placeholder="Message" [(ngModel)] = "message.message" ></ion-input>
        </ion-item>
        <div>
          <ion-button size="medium" (click)="create()">Add Message</ion-button>
        </div>
    </ion-card-content>

  </ion-card>

  <ion-card class="background-card">
    <ion-card-header>
      <ion-card-title>Message Scores</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div style="display: block">
          <canvas baseChart
                  [datasets]="graph.data"
                  [labels]="graph.labels"
                  [options]="graph.options"
                  [legend]="graph.legend"
                  [chartType]="graph.type"
                  [colors]="lineChartColors"
                  (chartClick)="chartClicked($event)">
          </canvas>
      </div>
    </ion-card-content>
  </ion-card>

  <div #scrollBottom>
    <ion-card *ngFor="let mes of filteredMessages" (click)="update(mes)" class="background-card">
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col push-md align-self: center>
              <ion-card-subtitle>{{mes.dateCreated}}</ion-card-subtitle>
              <ion-card-title>Message: {{mes.message}}</ion-card-title>
            </ion-col>
            <ion-col align-self: center>
              <ion-card-title></ion-card-title>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-card-header>
      <ion-card-content>
          Score: {{mes.score}}
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>